<header>
    <h1>{{title}}</h1>
</header>
<div class="container">
        <script>
Swal.fire({
    icon: 'error',
    title: 'Cedula duplicada',
    text: 'La cedula del paciente ya se encuentra registrada. Por favor, inténtalo de nuevo con una cedula diferente.',
}).then((result) => {
    if (result.isConfirmed) {
        // Redirige al usuario a otra página
        window.location.href = '/pacientes';
    }
});
    </script>
</div>
<footer>
  <h2>Hospital Renacer</h2>
  <p>Somos un hospital comprometido con la salud y bienestar de nuestros pacientes. Brindamos atención médica de calidad, tecnología avanzada y un equipo de profesionales altamente capacitados.</p>
  <p>Estamos dedicados a ofrecer servicios médicos integrales, desde consultas médicas hasta cirugías especializadas. Nuestro objetivo es proporcionar un ambiente cálido y seguro para el cuidado de la salud de nuestra comunidad.</p>
  <p>Confía en nosotros para tus necesidades médicas. ¡Tu bienestar es nuestra prioridad!</p>
  <p>&copy; 2023 Hospital Renacer. Todos los derechos reservados.</p>
</footer>
