<header>
    <h1>{{title}}</h1>
</header>
<div class="container">

    <div class="box box-pacientes">
        <div class="paciente-texto">Pacientes</div>
        <a href="/pacientes">
            <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-salud-publica_114360-8989.jpg?w=1380&t=st=1688667595~exp=1688668195~hmac=438964360efc51cc57b1974128a3609c91dc8556ef99a7e7c8926b214c4b5fd6"
                alt="Pacientes">
        </a>
    </div>

    <div class="box box-doctor">
        <div class="doctor-texto">Doctores</div>
        <a href="/doctores">
            <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-dia-mundial-salud_114360-5085.jpg?1&w=1380&t=st=1688667626~exp=1688668226~hmac=0931c4a13e1daedbdc65d0b584ed9d95fa95f34cb48acb549beedacadad363e7"
                alt="Doctores">
        </a>
    </div>

    <div class="box box-citas">
        <div class="citas-texto">Citas Medicas</div>
        <a href="/citas">
            <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-dia-mundial-salud_114360-5085.jpg?1&w=1380&t=st=1688667626~exp=1688668226~hmac=0931c4a13e1daedbdc65d0b584ed9d95fa95f34cb48acb549beedacadad363e7"
                alt="Citas">
        </a>
    </div>
</div>
<footer>
  <h2>Hospital Renacer</h2>
  <p>Somos un hospital comprometido con la salud y bienestar de nuestros pacientes. Brindamos atención médica de calidad, tecnología avanzada y un equipo de profesionales altamente capacitados.</p>
  <p>Estamos dedicados a ofrecer servicios médicos integrales, desde consultas médicas hasta cirugías especializadas. Nuestro objetivo es proporcionar un ambiente cálido y seguro para el cuidado de la salud de nuestra comunidad.</p>
  <p>Confía en nosotros para tus necesidades médicas. ¡Tu bienestar es nuestra prioridad!</p>
  <p>&copy; 2023 Hospital Renacer. Todos los derechos reservados.</p>
</footer>
