body {
  font-family: Arial, sans-serif;
  background-color: #b81b3d69;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 20px 0;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #eb8b8b;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

@media (max-width: 768px) {
  form {
    padding: 20px;
  }
}

label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #b700ff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 12px;
  background-color: #fff;
  color: #333;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
select:focus {
  outline: none;
  border-color: #f32f2f;
  box-shadow: 0 0 5px rgba(243, 47, 47, 0.5);
}

a,
input[type="submit"] {
  background-color: #f32f2f;
  color: #fff;
  text-decoration: none;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

a:hover,
input[type="submit"]:hover {
  background-color: #cf4949;
}

input:required,
select:required {
  border-color: #ff0000;
}

input:invalid,
select:invalid {
  border-color: #ff0000;
}

input:valid,
select:valid {
  border-color: #00ff00;
}

.button {
  margin-top: 10px;
  background-color: #f32f2f;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.login-form h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #f32f2f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.btn-login:hover {
  background-color: #cf4949;
}

.btn-register {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.btn-register:hover {
  text-decoration: underline;
}

.buttons-container {
  text-align: center; /* Centra horizontalmente los botones */
  margin-top: 20px; /* Espacio entre el formulario y los botones */
}

/* Estilo para los botones */
.btn-cancel,
.btn-save {
  display: inline-block;
  font-size: 18px;
  width: 120px; /* Ancho fijo para ambos botones */
  padding: 10px 0; /* Espaciado vertical */
  background-color: #f32f2f;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Espacio entre botones */
}

/* Estilo para los botones al pasar el cursor por encima */
.btn-cancel:hover,
.btn-save:hover {
  background-color: #cf4949;
}

.button:hover {
  background-color: #cf4949;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
